<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>local configuration</title>
</head>

<body>
  <h1>local configuration</h1>

  <h3>setup wifi</h3>
  <form action="{{ url_for('wifi') }}" method="POST">
    <label for="ssid">SSID:</label>
    <input type="text" id="ssid" name="ssid" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <input type="submit" value="Wifi" />
  </form>

  <h3>login to our service</h3>
  <form action="{{ url_for('login') }}" method="POST">
    <label for="email">Username:</label>
    <input type="text" id="email" name="email" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <input type="submit" value="Login" />
  </form>

  <button formaction="{{ url_for('finish') }}">finish</button>
</body>

</html>